<ion-view title="Jeux" id="game">
  <ion-content padding="true" class="has-header">
    <div data-ng-repeat="game in [{name : 'Listen', link :'nav.color'},
    {name : 'Memory', link : 'nav.memory'}]">
      <h1 data-ng-bind="game.name"></h1>
      <div data-ng-repeat="(type, category) in GameCtrl.categories">
        <div class="row" ng-repeat="row in GameCtrl.range(GameCtrl.categoriesArray[type].length)"
             ng-if="$index % 2==0">
          <div class="button-bar">
            <div ng-repeat="line in GameCtrl.range('2')" class="col col-50">
              <div class="element" data-ng-if="GameCtrl.categoriesArray[type].length > (row+line)">
                <button class="text-center button button-royal button-outline" style="width:100%"
                        ui-sref="{{game.link}}({gameFilter :'{{GameCtrl.categoriesArray[type][row+line].name}}', gameType : '{{type}}' })"
                        data-ng-bind="GameCtrl.categoriesArray[type][row+line].french">
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
